:root{
    --dashboard-text-color: white;
    --dashboard-padding-left: 1rem;
    --primary-blue-color: hsl(201.18deg 78.9% 46.47%);
    --primary-blue-color-hover: hsl(201, 80%, 50%);
    --primary-grey-color: hsl(214.29deg 31.82% 91.37%);
    --primary-grey-color-hover: hsl(204, 32%, 83%);
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: content-box;
}

button:hover{
    background-color: aliceblue;
}

.user-menu *:hover, .settings-menu *:hover {
    filter: invert(100%);
}


.main-layout {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2,20vw 80vw); 
    grid-template-rows: repeat(2,20vh 80vh);
    grid-template-areas: 
        "dashboard-layout login-layout"
        "dashboard-layout card-layout";
}

.dashboard-layout {
    display: grid;
    grid-template-rows: repeat(3,10% 1fr 1fr);
    gap: 2em;
    grid-template-areas: "header-layout"
               "user-menu"
               "settings-menu";
    grid-area: dashboard-layout;
    padding-top: 1rem;
    color: var(--dashboard-text-color);
    background-color: var(--primary-blue-color)
}

.dashboard-header {
    padding-left: var(--dashboard-padding-left);
    display: flex;
    grid-area: header-layout;
    font-size: .7rem;
    height: fit-content;
    
}

.user-menu {
    margin-left: var(--dashboard-padding-left);
    grid-area: user-menu;
}

.user-menu img {
    width: 1.5rem;
    padding-right: .75rem;
    filter: invert(100%)
}

.settings-menu {
    padding-left: var(--dashboard-padding-left);
    grid-area: settings-menu;
}

.settings-menu img {
    width: 1.75rem;
    height: 1.75rem;
    padding-right: .75rem;
    filter: invert(100%);
}

.dashboard-header img{
    height: 2rem;
    align-self: center;
    padding-right: .75rem;
}

.login-layout {
    grid-area: login-layout;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "search account"
                         "account-details user-buttons";
    background-color: white;
}

.search-bar {
    grid-area: search;
}

.search-layout{
    display: flex;
    align-content: center;
    padding-top: 1rem;
    padding-left: 2rem;
}


.search-bar img {
    height: 2rem;
}

.user-account {
    width: 14rem;
    display: flex;
    padding-left: 4rem;
    justify-content: space-between ;
    align-items: center;
    grid-area: account;
}

.user-account * {
    margin-right: 1rem;
}

.user-account img {
    border: solid white 2px;
    border-radius: 50%;
    width: 1.75rem;
}

.user-greeting {
    grid-area: account-details;
    display: flex;
    align-items: stretch;
    padding-left: 2rem;
    min-width: 0;
    min-height: 0;
}

.usergreeting *{
    margin: 0;
}

.usergreeting {
    padding-top: 1rem;
}

.search-layout input {
    width: 40rem;
    height: 1.5rem;
    border-radius: 20px;
    background-color: var(--primary-grey-color);
    border-color: transparent;
}

.search-bar input:hover{
    background-color: var(--primary-grey-color-hover);
}



.profile-pic {
    border: solid white 2px;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.greeting {
    font-size: .75rem;
    font-weight: 700;
}

.user-name {
    padding-top: .5rem;
    font-weight: 700;
    font-size: 1rem;
}

.user-buttons {
    grid-area: user-buttons;
}

.user-buttons *:hover{
    background-color: var(--primary-blue-color-hover);
}

.user-buttons button{
    width: 5rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: var(--primary-blue-color);
    border: transparent;
    border-radius: 25px;
    color: white;
}

.card-layout {
    position: relative;
    grid-area: card-layout;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
                         "card1 card4 sidebar"
                         "card2 card5 sidebar"
                         "card3 card6 sidebar";
    column-gap: 1rem;
    padding-top: 2rem;                    
    background-color: var(--primary-grey-color);
}

.card {
    position: relative;
    line-height: 1.25rem;
    font-size: .85rem;
    justify-content: center;
    padding-left: 1rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: .55em;
    width: 20rem;
    height: 10rem;
    border-left: solid orange .30rem;
}

.card h3 {
    position: absolute;
    top: -3rem;
    left: 0;
}

.card img {
    width: 1rem;
    height: 1rem;
}

.user-interaction {
    position: absolute;
    bottom: .25rem;
    right: .25rem;
    justify-self: end;
    padding-right: 1rem;
}

.user-interaction *:hover{
    filter: opacity(.65);
}

.pfp-border {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.trending * img:hover,
.profile-pic:hover,
.user-account img:nth-child(2):hover
{
    border-color: var(--primary-blue-color-hover)
}

.user-account img:nth-child(1):hover{
    filter: opacity(.65);
}

.user-interaction img:nth-child(-n+2) {
    padding-right: 1rem;
}

.card h4 {
    margin-bottom: 0;
}

.card p {
    margin-top: 0;
}

.card-1 {
    grid-area: card1;
}

.card-1, .card-2, .card-3 {
    margin-left: 1rem;
}

.card-2 {
    grid-area: card2;
}

.card-3 {
    grid-area: card3;
}

.card-4 {
    grid-area: card4;
}

.card-5 {
    grid-area: card5;
}

.card-6 {
    grid-area: card6;
}

.sidebar {
    display: grid;
    gap: 1.60rem;
    grid-template-rows: repeat(2,50%);
    margin-top: 1rem;
    grid-area: sidebar;
    
}

.announcement {
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    max-width: 17rem;
    height: 15rem;
    border-radius: 10px;
}

.announcement p {
    font-size: .65rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#annoucements-header {
    position: absolute;
    top: -2.20rem;
    left: 0;
}

.announcement * {
    flex: 1;
    max-height: 100px;
    max-width: 200px;
    margin: .25rem;
}

.ann-1, .ann-2 {
    border-bottom: solid rgba(0, 0, 0, 0.25) 1px;
}


.trending * {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 25%;
    width: 12rem;
    font-size: .75rem;
}

#trending-header {
    position: absolute;
    font-size: 1.1rem;
    top: -4.2rem;
    left: 0;

}

.user-project {
    box-sizing: border-box;
    display: flex;
    width: 12rem;
    flex-direction: column;
    margin-bottom: 15px;
}

.user-project * {
    margin: .5rem;
    text-overflow: ellipsis;
}

.displayed-user {
    font-size: .85rem;
}
.trending img {
    border: solid white 2px;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .2rem;
}

.trending {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 15rem;
    width: 17rem;
}


.user-menu .settings-menu{
    color: var(--dashboard-text-color);
}

.user-menu > * ,
.settings-menu > *{
    padding-bottom: 1rem;
}

